.style__secondary-nav___2Hvda{
    background-color: rgb(255, 255, 255);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    box-sizing: content-box;
    box-shadow: 0 .5px 2px #d1d1d1;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.style__container___15r1p{
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: 50px;
min-width: 320px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
} 

.style__large___3HKaH{
    max-width: 1224px;
} 

.style__fitted___2ndoo{
    padding-top: 0;
}

.style__secondary-nav-content___2zGe0{
    -moz-box-align: center;
    align-items: center;
    display: flex;
    height: 50px;
}

.style__heading___29i1Z {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.7px;
    margin-left: 0px;
}

.style__heading___29i1Z{
    font-family: "Suisse Int'l",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",sans-serif;
    line-height: 1.33em;
    font-weight: 500;
}

.style__secondary-nav___2Hvda h2{
color: rgba(0,0,0,.8);
    -moz-box-flex: 1;
flex-grow: 1;
}

.style__extra-large___PY8Kd{
    font-size: 20px;
}

.style__secondary-nav-links___1xumQ{
    overflow-x: scroll;
    white-space: nowrap;
    margin-right: 0px;
}

.style__secondary-nav-link___2vnRB{
    color: #444;
    display: inline-block;
font-size: 14px;
font-weight: 500;
line-height: 50px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;

} 

.style__secondary-nav-link-active___A8hIy{
    box-shadow: inset 0 -2px 0 0 #1569e0;
    color: #444;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
}