.layout-wide-dashboard{
    font-family: "Suisse Int'l", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    background-color: #0f1035;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    font-size: 13px;
    line-height: 1.42857;
    color: rgba(0,0,0,0.8);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: 400;
    box-sizing: border-box;
}

.styl__topbar-container___1KZxh {
    top: 110;
    left: 0;
    right: 110;
    z-index: 100;
}

.styl__topbar___2_YGJ .transition-to-blue {
    background-color: #f7f7f7;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    box-shadow: none;
}

.styl__topbar___2_YGJ{   
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: "Suisse Int'l", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    transition-property: 'background', box-shadow, all, box-shadow;
    transition-duration: 0s, 0s, 0.5s, 0s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
}

.styl__fitted___2ndoo {
    padding-top: 0;
}

.styl__large___3HKaH{
    max-width: 1224 px;
}

.styl__container___15r1p{
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    min-width: 320 px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
}

.styl__content___oQxb0{
    align-items: center;
    display: flex;
}

.styl__content___oQxb0 {
    height: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    flex-direction: row;
}

.styl__content___oQxb0 .styl__logo-container___3_yW2 {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.styl__content___oQxb0 .styl__logo-container___3_yW2 {
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    display: flex;

}

a {
    color: #1569e0;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    background-color: transparent
}

.styl__logo-icon___38kkg {
    height: 32px;
    width: 32px;
}

svg {
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
}

.styl__logo-icon-content___25oa_{
    transition-property: fill;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    color: #fff;
}

.transition-to-blue .styl__logo-icon-content___25oa_ {
    fill: #fff;
}

.styl__content___oQxb0 .styl__search-container___2WuPw {
        -moz-box-flex: 1;
        flex-grow: 1;
        margin-top: 0px;
        margin-right: 8px;
        margin-bottom: 0px;
        margin-left: 24px;
        max-width: 350px;
}
.searchbar{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    visibility: hidden; 
    height: 0px; 
    overflow: scroll; 
    white-space: pre; 
    font-size: 16px; 
    font-family: "Suisse Int'l", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400; 
    font-style: normal; 
    letter-spacing: normal; 
    text-transform: none;
}

.styl__search___ttQsV {
    cursor: text;
    position: relative;
}

.styl__search___ttQsV .Select {
    width: 100%;
}

.Select{
    position: relative;
} 
.Select-input{
    display: inline-block;
    box-sizing: content-box; 
    width: 14px;
}
.styl__search___ttQsV .Select-control {
        border-top-color: rgb(255, 255, 255);
        border-top-style: solid;
        border-top-width: 2px;
        border-right-color: rgb(255, 255, 255);
        border-right-style: solid;
        border-right-width: 2px;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-left-color: rgb(255, 255, 255);
        border-left-style: solid;
        border-left-width: 2px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 48px;
        transition-property: background-color, border-color;
        transition-duration: 0s, 0.5s;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
}

.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: medium;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.styl__search___ttQsV .Select-placeholder {
    padding-left: 40px;
    align-items: center;
    
}

.styl__search___ttQsV .Select-placeholder {
    font-size: 16px;
    line-height: 48px;
    display: flex;
}

.Select-placeholder{
    bottom: 0;
    color: rgba(0,0,0,0.56);
    left: 0;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.styl__search___ttQsV .Select-input {
    height: 48px;
    display: flex !important;
}

.styl__search___ttQsV .Select-input{
    padding-left: 40px;
    -webkit-box-align: center;
    align-items: center;
}

.Select--single .Select-input {
    width: 100%;
}

.Select div{
    box-sizing: border-box;
}

.styl__search___ttQsV .Select-input input{
    height: 16px;
    display: 100% !important;
    border: 0px;
}

.Select-input > input {
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: medium;
    line-height: 14px;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;

}

input{
    font-style: inherit;
    font-variant-caps: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-optical-sizing: inherit;
    font-variant-alternates: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
    font-language-override: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
}

svg:not(:root).svg-inline--fa{
    overflow-x: visible;
    overflow-y: visible;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.styl__search-icon___2eV2v {
    color: rgba(0,0,0,.8);
    height: 16px;
    left: 18px;
    position: absolute;
    top: 18px;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
}

.fa-fw {
    text-align: center;
}

.svg-inline--fa {
    font-size: inherit;
}
.fa-fw {
    text-align: center;
}

.styl__nav-link___3jrqE {
    display: flex;
    -webkit-box-align: center;
        -moz-box-align: center;
    align-items: center;
    margin: 0 8px 0 0;
    padding: 10px 8px 10px 10px;
    position: relative;
    white-space: nowrap;
    color:#fff;
}

.spanclass{
    color: #f7f7f7;
    font-weight: 550;
}

.styl__nav-link___2JgVu {

    color:#fff;
    font-size: 14px;
    font-weight: 500;
    height: 80px;
    text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
        text-decoration-thickness: auto;
}

.styl__dropdown___3v4V2{
    display: flex;
}

.pull-right {
    float: right !important;
}

.account-dropdown {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .account-dropdown {
    background-color: aqua;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.styl__dropdown-button___1ECNT{
        background-color:#f7f7f7;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: medium;
        border-right-color: currentcolor;
        border-right-style: none;
        border-right-width: medium;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: medium;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        font-size: 24px;
        position: relative;
}

.dropdown-menu .styl__fade___kx_5J{
    display: block;
    opacity: 0;
    transition-property: none;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
    pointer-events: none;
}

.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu {

    position: absolute;
    top: 100%;
    
    z-index: 1000;
    
    float: left;
    
    padding: 5px 0;
        padding-top: 5px;
        padding-right: 0px;
        padding-bottom: 5px;
        padding-left: 0px;
   
        margin-top: 2px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
   
        list-style-position: outside;
        list-style-image: none;
        list-style-type: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
        border-top-color: rgba(0, 0, 0, 0.15);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgba(0, 0, 0, 0.15);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.15);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgba(0, 0, 0, 0.15);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.styl__link-container___6MIbO {
    position: relative;
}

.styl__nav-link___2JgVu {
    color: #444;
    font-size: 14px;
    font-weight: 500;
    height: 80px;
        margin-top: 0px;
        margin-right: 24px;
        margin-bottom: 0px;
        margin-left: 24px;
    padding-bottom: 4px;
    text-decoration: none;
}